
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Amith Raj & Steve Cassidy">

    <title>Position Detail</title>

      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

  <div class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
      <a class="navbar-brand" href="#">Jobs!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" href="/static/home.html">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="/static/about.html">About</a></li>
              <li class="nav-item"><a class="nav-link" href="/static/assignment.html">Assignment Spec</a></li>
          </ul>
      </div>
            <form id='loginform' class="form-inline" role="login" method='post' action='/login'>
		        <div class="form-group">
		          <input type="text" name='nick' class="form-control" placeholder="Username">
		        </div>
		        <div class="form-group">
		          <input type="password" name='password' class="form-control" placeholder="Password">
		        </div>
		        <input type="submit" class="btn btn-default" value='Login' >
		    </form>
    </div>

    <div class="container">

        <div class="header">
            <h1>Position Detail</h1>
        </div>
        
<div>
    <h2>{{description[3]}}</h2>

    <p><strong>Posted on</strong> {{description[1]}} by {{description[2]}} ({{description[5]}} )</p>
    <p><strong>Location:</strong> {{description[4]}}</p>
    <div class="position_body">
        {{!description[6]}}
    </div>

</div>
<!-- Using the passed 'description' value to display the job details and descriptions with 
  escaped html from expand function from main.py -->

    </div>

  </body>
</html>
